*.py[cod]
**/__pycache__/
*.pyo
/venv
env/
.venv/
ENV/
*.log
/staticfiles/
media/
Pipfile.lock
*.env
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
htmlcov/
.tox/
.coverage
.coverage.*
*.cover
.cache
nosetests.xml
coverage.xml
*.log